@model List<Testimonial>
@{
    ViewData["Title"] = "Referans Listesi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int counter = 0;
}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Referans Listesi</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps-5" type="text" placeholder="search">
            </form>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-secondary">
                <tr>
                    <th>#</th>
                    <th>Ad Soyad</th>
                    <th>Ünvan</th>
                    <th>Yorum</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var testimonial in Model)
                {
                    <tr>
                        <td>@(++counter)</td>
                        <td>@testimonial.NameSurname</td>
                        <td>@testimonial.Title</td>
                        <td>@testimonial.CommentDetail</td>
                        <td> <a href="/Testimonial/UpdateTestimonial/@testimonial.Id" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Güncelle"><i class="bi bi-pencil-fill"></i></a></td>
                        <td><a href="/Testimonial/DeleteTestimonial/@testimonial.Id" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sil"><i class="bi bi-trash-fill"></i></a></td>
                    </tr> 
                }
                </tbody>
            </table>
            <a href="/Testimonial/CreateTestimonial/" class="btn btn-info">Yeni Referans Girişi</a>
        </div>
    </div>
</div>