<div class="posts_navigation pt-35 pb-35">
    <div class="row align-items-center text-center text-md-start">
        @if (ViewBag.PrevArticleId != null)
        {
            <div class="col-xl-4 col-md-5 mb-4 mb-md-0">
                <div>
                    <span style="display:block;color:#8b8b8b;font-size:16px;">Önceki Post</span>
                    <h4 style="font-weight:700;font-size:24px;">
                        <a href="~/Blog/BlogDetail/@ViewBag.PrevArticleId" style="text-decoration:none;color:#001f3f;">@ViewBag.PrevArticleTitle</a>
                    </h4>
                </div>
            </div>
        }
        else
        {
            <div class="col-xl-4 col-md-5 mb-4 mb-md-0"></div>
        }
        <div class="col-xl-4 col-md-2 text-center">
            <a href="blog.html" style="display:inline-flex;justify-content:center;align-items:center;">
                <img src="/defaultimages/insurance-shield.png"
                     alt="Sigorta"
                     style="width:90px;height:90px;border-radius:50%;background-color:#e6f3ff;padding:15px;">
            </a>
        </div>
        @if (ViewBag.NextArticleId != null)
        {
            <div class="col-xl-4 col-md-5">
                <div style="text-align:right;">
                    <span style="display:block;color:#8b8b8b;font-size:16px;">Sonraki Post</span>
                    <h4 style="font-weight:700;font-size:24px;">
                        <a href="~/Blog/BlogDetail/@ViewBag.NextArticleId" style="text-decoration:none;color:#001f3f;">@ViewBag.NextArticleTitle</a>
                    </h4>
                </div>
            </div>
        }
        else
        {
            <div class="col-xl-4 col-md-5"></div>
        }
    </div>
</div>