@model Category
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Sigorta Kategori Düzenleme</h5>
        </div>
        <form method="post" autocomplete="off">
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <label>Kategori Adı</label>
            <input type="text" asp-for="Name" class="form-control" value="@Model.Name"/>
            <br/>
            <button type="submit" class="btn btn-success mt-3">Kategoriyi Güncelle</button>
        </form>
    </div>
</div>