@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="zxx">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>
<header class="header-area header-three">  
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")
    @await Component.InvokeAsync("_DefaultHeaderContactComponentPartial")
    @await Component.InvokeAsync("_DefaultNavbarComponentPartial")
</header>
@await Component.InvokeAsync("_DefaultMobileMenuComponentPartial")       
<main>
    <section class="inner-blog pt-120 pb-120">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("_BlogListByCategoryComponentPartial", new { categoryId = ViewBag.CategoryId })
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <aside class="sidebar-widget">
                        @await Html.PartialAsync("GetBlog")
                        @await Component.InvokeAsync("_BlogListSocialMediaComponentPartial")
                        @await Component.InvokeAsync("_BlogListCategoryComponentPartial")
                        @await Component.InvokeAsync("_BlogListLast3RecentBlogComponentPartial")
                        @await Component.InvokeAsync("_BlogListTagComponentPartial")
                    </aside>
                </div>
            </div>
        </div>
    </section>
    @await Html.PartialAsync("~/Views/Default/SubscribeEmail.cshtml")
</main>
@await Component.InvokeAsync("_DefaultFooterComponentPartial")
@await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>
</html>