<div class="offcanvas-menu">
    <span class="menu-close"><i class="fas fa-times"></i></span>
    <form role="search" method="get" id="searchform" class="searchform" action="http://wordpress.zcube.in/xconsulta/">
        <input type="text" name="s" id="search" placeholder="Aranacak kelimeyi giriniz..."/>
        <button><i class="fa fa-search"></i></button>
    </form>
    <div id="cssmenu3" class="menu-one-page-menu-container">
        <ul class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="~/Default/Index/">Ana Sayfa</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="~/Default/Index/#about">Hakkımızda</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="~/Default/Index/#service">Hizmetlerimiz</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="~/Default/Index/#pricing">Paketlerimiz</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="~/Default/Index/#testimonial">Yorumlar</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="~/Default/Index/#contact">İletişim</a></li>
        </ul>
    </div>

    <div id="cssmenu2" class="menu-one-page-menu-container">
        <ul id="menu-one-page-menu-12" class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>@ViewBag.phone.ToString()</span></a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>@ViewBag.email.ToString()</span></a></li>
        </ul>
    </div>
</div>
<div class="offcanvas-overly"></div>