 <div class="row row-cols-1 row-cols-lg-3">
       @await Component.InvokeAsync("_DashboardSubCharts1ComponentPartial")
       @await Component.InvokeAsync("_DashboardSubCharts2ComponentPartial")
       @await Component.InvokeAsync("_DashboardSubCharts3ComponentPartial")
    </div>