@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">OpenAI ile Yapay Zeka Destekli Makale Oluşturma</h5>
        </div>
        <form method="post" autocomplete="off">
            <label>Makale İçeriği Özeti ve Anahtar Kelimeler</label>
            <input type="text" name="prompt" class="form-control" />
            <br/>
            <button type="submit" class="btn btn-primary mt-3">AI ile Makale Oluştur</button>
        </form>
        <br/> <br/>
        
        @if (ViewBag.article != null)
        {
            <hr/>
            <h5>Oluşturulan Makale İçeriği:</h5>
            @Html.Raw(ViewBag.article.ToString())
        }
    </div>
</div>