@model Article
@{
    ViewData["Title"] = "Makale Düzenle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Makale Düzenleme Sayfası</h5>
        </div>
        <form method="post" autocomplete="off">
            <label>Başlık</label>
            <input type="text" asp-for="Title" value="@Model.Title" class="form-control" />
            <br/>
            <label>Kapak Fotoğrafı URL</label>
            <input type="text" asp-for="CoverImageUrl" value="@Model.CoverImageUrl" class="form-control" />
            <br/>
            <label>Makale Detay Kapak Görseli</label>
            <input type="text" asp-for="MainCoverImageUrl" value="@Model.MainCoverImageUrl" class="form-control" />
            <br/>
            <label>Kategori</label>
            <select class="form-select" asp-for="CategoryId" asp-items="ViewBag.Categories">
                <option value="">--Kategori Seçiniz--</option>
            </select>
            <br/>
            <label>Yazar</label>
            <select class="form-select" asp-for="AppUserId" asp-items="ViewBag.AppUsers">
                <option value="">--Yazar Seçiniz--</option>
            </select>
            <br/>
            <label>Makale İçeriği</label>
            <textarea class="form-control" asp-for="Content" id="Content" rows="15">@Model.Content</textarea>
            <br/>
            <button type="submit" class="btn btn-primary mt-3">Makaleyi Güncelle</button>
        </form>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script>
        ClassicEditor
            .create(document.querySelector('#Content'), {
                language: 'tr'
            })
            .catch(error => {
                console.error(error);
            });
    </script>